<div class="row">
	<div class="col-md-6" style="margin-top: 5%; font-family:'Century Gothic', Arial;">
		<h2 style="text-align:center">services</h2>
      <img class="img-responsive" style="margin: 0 auto;" src="/images/fancy-lines-sm.png" alt="Alternate Text" />
      <br />
      <div style="margin-bottom:10px;"><span class="pull-left">eyebrow shaping</span><span class="pull-right">15</span></div>
      <br /><div style="margin-bottom:10px;"><span class="pull-left">lip</span><span class="pull-right">10</span></div>
      <br /><div style="margin-bottom:10px;"><span class="pull-left">chin</span><span class="pull-right">10</span></div>
      <br /><div style="margin-bottom:10px;"><span class="pull-left">nostrils</span><span class="pull-right">10</span></div>
      <br /><div style="margin-bottom:10px;"><span class="pull-left">full face <i>- includes brows, shaping, nostrils, lip, chin, sideburns</i></span><span class="pull-right">40</span></div>
      <br /><div style="margin-bottom:10px;"><span class="pull-left">underarms</span><span class="pull-right">15</span></div>
      <br /><div style="margin-bottom:10px;"><span class="pull-left">arms</span><span class="pull-right">30</span></div>
      <br /><div style="margin-bottom:10px;"><span class="pull-left">half leg</span><span class="pull-right">35</span></div>
      <br /><div style="margin-bottom:10px;"><span class="pull-left">full leg</span><span class="pull-right">50</span></div>
      <br /><div style="margin-bottom:10px;"><span class="pull-left">bikini</span><span class="pull-right">30</span></div>
      <br /><div style="margin-bottom:10px;"><span class="pull-left">deep bikini</span><span class="pull-right">40</span></div>
      <br /><div style="margin-bottom:10px;"><span class="pull-left">brazilian <i>- front to tush</i></span><span class="pull-right">50</span></div>
      <br /><div style="margin-bottom:10px;"><span class="pull-left">chest <i>- includes stomach</i></span><span class="pull-right">65</span></div>
      <br /><div style="margin-bottom:10px;"><span class="pull-left">lower back</span><span class="pull-right">30</span></div>
      <br /><div style="margin-bottom:10px;"><span class="pull-left">full back <i>- includes shoulder</i></span><span class="pull-right">50</span></div>
    </div>
	</div>
</div>